In [1]:
import pymysql
import sys
import numpy as np
import pandas as pd
import json
import os

In [2]:
conn =pymysql.connect(
    host="fermi-master.c4kp2nxu0eer.ap-northeast-2.rds.amazonaws.com",
    user= "admin",
    password="fermi1234",
    db="energy_data",
    charset='utf8'
)

curs=conn.cursor()
sql="""
select smp_price.date, smp_price.total_price as smp_price, oil_price.wti,elec_supply.supply,price_index.korea_producer, price_index.us_producer from smp_price
    inner join oil_price
		on smp_price.date=oil_price.date
	inner join elec_supply
		on smp_price.date=elec_supply.date
	inner join price_index
		on smp_price.date=price_index.date
        """
curs.execute(sql)
array=np.array(curs.fetchall())
data=pd.DataFrame(data=array[:,1:6],index=array[:,0],columns=["smp_price","oil_price","elec_supply","korea_producer","us_producer"])
data.smp_price=data.smp_price*data.korea_producer
data.oil_price=data.oil_price*data.us_producer
data['date']= data.index

In [3]:
data

,smp_price,oil_price,elec_supply,korea_producer,us_producer,date
2003-01-01,72.1463,42.8637,16.5,1.30087,1.30087,2003-01-01
2003-02-01,71.5478,46.6102,16.6,1.30087,1.30087,2003-02-01
2003-03-01,73.6423,43.5922,21.1,1.30087,1.30087,2003-03-01
2003-04-01,72.7056,36.6455,22.5,1.30087,1.30087,2003-04-01
2003-05-01,74.2016,36.5675,16.3,1.30087,1.30087,2003-05-01
2003-06-01,65.4728,39.8847,22.8,1.30087,1.30087,2003-06-01
2003-07-01,52.0478,40.0148,29.7,1.30087,1.30087,2003-07-01
2003-08-01,49.303,41.0685,17.1,1.30087,1.30087,2003-08-01
2003-09-01,55.5732,36.8276,17.3,1.30087,1.30087,2003-09-01
2003-10-01,61.6873,39.4684,24.9,1.30087,1.30087,2003-10-01
2003-11-01,66.1622,40.4701,19.4,1.30087,1.30087,2003-11-01
2003-12-01,70.0109,40.3055,18,1.25445,1.25445,2003-12-01
2004-01-01,68.7564,43.0402,14.7,1.25445,1.25445,2004-01-01
2004-02-01,75.6935,43.5169,11.6,1.25445,1.25445,2004-02-01
2004-03-01,75.7061,46.0885,10,1.25445,1.25445,2004-03-01
2004-04-01,71.8298,46.101,17,1.25445,1.25445,2004-04-01
2004-05-01,67.9159,50.5292,24.1,1.25445,1.25445,2004-05-01
2004-06-01,65.8335,47.7067,11.7,1.25445,1.25445,2004-06-01
2004-07-01,62.3713,51.1565,12.2,1.25445,1.25445,2004-07-01
2004-08-01,58.5577,56.3248,14.1,1.25445,1.25445,2004-08-01
2004-09-01,62.434,57.6294,18.6,1.25445,1.25445,2004-09-01
2004-10-01,73.6864,66.8371,16.5,1.25445,1.25445,2004-10-01
2004-11-01,76.4211,60.8032,25,1.25445,1.25445,2004-11-01
2004-12-01,79.783,54.1295,23.1,1.25445,1.25445,2004-12-01
2005-01-01,80.3091,55.9607,10.7,1.19472,1.19472,2005-01-01
2005-02-01,75.0882,57.5258,12,1.19472,1.19472,2005-02-01
2005-03-01,73.7381,64.7419,17.1,1.19472,1.19472,2005-03-01
2005-04-01,62.6033,63.2963,25,1.19472,1.19472,2005-04-01
2005-05-01,56.1638,59.5329,27.1,1.19472,1.19472,2005-05-01
2005-06-01,63.141,67.3225,9.1,1.19472,1.19472,2005-06-01
...,...,...,...,...,...,...
2015-09-01,92.5057,46.2427,16.6,1.01677,1.01677,2015-09-01
2015-10-01,99.9892,46.9951,23.4,1.01677,1.01677,2015-10-01
2015-11-01,96.522,43.1517,17.9,1.01677,1.01677,2015-11-01
2015-12-01,97.0609,37.8137,15.4,1.01677,1.01677,2015-12-01
2016-01-01,95.4419,33.3106,14.2,1.05147,1.05147,2016-01-01
2016-02-01,92.1298,31.8806,17.2,1.05147,1.05147,2016-02-01
2016-03-01,91.8038,39.4827,12.4,1.05147,1.05147,2016-03-01
2016-04-01,79.2598,42.8474,30.8,1.05147,1.05147,2016-04-01
2016-05-01,72.3201,49.1142,17.8,1.05147,1.05147,2016-05-01
2016-06-01,68.6715,51.2697,11.2,1.05147,1.05147,2016-06-01
2016-07-01,70.5116,46.9481,9.6,1.05147,1.05147,2016-07-01
2016-08-01,75.4219,47.0217,8.5,1.05147,1.05147,2016-08-01
2016-09-01,75.2327,47.5054,13,1.05147,1.05147,2016-09-01
2016-10-01,77.262,52.3422,15.1,1.05147,1.05147,2016-10-01
2016-11-01,78.9023,48.0101,13.4,1.05147,1.05147,2016-11-01
2016-12-01,91.4043,54.6449,16.3,1.05147,1.05147,2016-12-01
2017-01-01,87.3457,53.13,14.1,1.012,1.012,2017-01-01
2017-02-01,92.1628,54.1116,18,1.012,1.012,2017-02-01
2017-03-01,93.1647,49.922,22.3,1.012,1.012,2017-03-01
2017-04-01,76.2542,51.6727,27.2,1.012,1.012,2017-04-01
2017-05-01,80.0897,49.0618,18,1.012,1.012,2017-05-01
2017-06-01,83.7025,45.7222,16.5,1.012,1.012,2017-06-01
2017-07-01,77.7115,47.1896,12.3,1.012,1.012,2017-07-01
2017-08-01,77.3168,48.6165,12.6,1.012,1.012,2017-08-01
2017-09-01,74.0885,50.4178,26.7,1.012,1.012,2017-09-01
2017-10-01,73.7141,52.199,26.6,1.012,1.012,2017-10-01
2017-11-01,82.4578,57.3197,19.6,1.012,1.012,2017-11-01
2017-12-01,91.8592,58.5746,12.9,1.012,1.012,2017-12-01
2018-01-01,92.23,63.7,13.6,1,1,2018-01-01
2018-02-01,90.75,62.23,14.6,1,1,2018-02-01